.check_mark {
    width: 80px;
    height: 130px;
    margin: 0 auto;
}

button {
    cursor: pointer;
    margin-left: 15px;
}

.hide{
    display:none;
}

.sa-icon {
    width: 80px;
    height: 80px;
    border: 4px solid gray;
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    margin: 20px auto;
    padding: 0;
    position: relative;
    box-sizing: content-box;
}

/* ---------------------------------------------------------------- */
.sa-icon.sa-success {
    border-color: #4CAF50;
}

.sa-icon.sa-success::before, .sa-icon.sa-success::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-success::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.sa-icon.sa-success::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
}

    
.sa-icon.sa-success .sa-placeholder {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(76, 175, 80, .5);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.sa-icon.sa-success .sa-fix {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sa-icon.sa-success.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-success {
    border-color: transparent\9;
}
.sa-icon.sa-success .sa-line.sa-tip {
    -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-success .sa-line.sa-long {
    -ms-transform: rotate(-45deg) \9;
}

.animateSuccessTip {
    -webkit-animation: animateSuccessTip 0.75s;
    animation: animateSuccessTip 0.75s;
}

.animateSuccessLong {
    -webkit-animation: animateSuccessLong 0.75s;
    animation: animateSuccessLong 0.75s;
}


@-webkit-keyframes animateSuccessLong {
    0% {
    width: 0;
    right: 46px;
    top: 54px;
    }
    65% {
    width: 0;
    right: 46px;
    top: 54px;
    }
    84% {
    width: 55px;
    right: 0px;
    top: 35px;
    }
    100% {
    width: 47px;
    right: 8px;
    top: 38px;
    }
}
@-webkit-keyframes animateSuccessTip {
    0% {
    width: 0;
    left: 1px;
    top: 19px;
    }
    54% {
    width: 0;
    left: 1px;
    top: 19px;
    }
    70% {
    width: 50px;
    left: -8px;
    top: 37px;
    }
    84% {
    width: 17px;
    left: 21px;
    top: 48px;
    }
    100% {
    width: 25px;
    left: 14px;
    top: 45px;
    }
}
@keyframes animateSuccessTip {
    0% {
    width: 0;
    left: 1px;
    top: 19px;
    }
    54% {
    width: 0;
    left: 1px;
    top: 19px;
    }
    70% {
    width: 50px;
    left: -8px;
    top: 37px;
    }
    84% {
    width: 17px;
    left: 21px;
    top: 48px;
    }
    100% {
    width: 25px;
    left: 14px;
    top: 45px;
    }
}

@keyframes animateSuccessLong {
    0% {
    width: 0;
    right: 46px;
    top: 54px;
    }
    65% {
    width: 0;
    right: 46px;
    top: 54px;
    }
    84% {
    width: 55px;
    right: 0px;
    top: 35px;
    }
    100% {
    width: 47px;
    right: 8px;
    top: 38px;
    }
}

.sa-icon.sa-success .sa-line {
    height: 5px;
    background-color: #4CAF50;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.sa-icon.sa-success .sa-line.sa-tip {
    width: 25px;
    left: 14px;
    top: 46px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-success .sa-line.sa-long {
    width: 47px;
    right: 8px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* ---------------------DELETE ANIMATION-------------- */

.sa-icon.sa-delete {
    border-color: #fd2020;
}

.sa-icon.sa-delete::before, .sa-icon.sa-delete::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-delete::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.sa-icon.sa-delete::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
} 

.sa-icon.sa-delete .sa-placeholderDelete {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(255, 68, 68, 0.5);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.sa-icon.sa-delete .sa-fixDelete {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sa-icon.sa-delete.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-delete {
    border-color: transparent\9;
}
.sa-icon.sa-delete .sa-line.sa-tipDelete {
    -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-delete .sa-line.sa-longDelete {
    -ms-transform: rotate(-45deg) \9;
} 

.animateErrorTip {
    -webkit-animation: animateTip 0.50s 0.40s alternate backwards ;
    animation: animateTip 0.50s 0.40s alternate backwards;
}

.animateErrorLong {
    -webkit-animation: animateLong 0.50s 0.50s alternate backwards;
    animation: animateLong 0.50s 0.50s alternate backwards ;
}

.sa-icon.sa-delete .sa-line {
    height: 5px;
    background-color: #fd2020;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.sa-icon.sa-delete .sa-line.sa-tipDelete {
    width: 60px;
    left: 10px;
    top: 38px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
} 

.sa-icon.sa-delete .sa-line.sa-longDelete {
    width: 60px;
    right: 10px;
    top: 38px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}


/* ---------------------WARNING ANIMATION-------------- */

.sa-icon.sa-warning {
    border-color: #fd8b20;
}

.sa-icon.sa-warning::before, .sa-icon.sa-warning::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-warning::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.sa-icon.sa-warning::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
} 

.sa-icon.sa-warning .sa-placeholderWarning {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(255, 180, 68, 0.5);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.sa-icon.sa-warning .sa-fixWarning {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sa-icon.sa-warning.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-warning {
    border-color: transparent\9;
}
.sa-icon.sa-warning .sa-line.sa-tipWarning {
    -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-warning .sa-line.sa-longWarning {
    -ms-transform: rotate(-45deg) \9;
} 

.animateWarningTip {
    -webkit-animation: animateTip 0.50s 0.40s alternate backwards ;
    animation: animateTip 0.50s 0.40s alternate backwards;
}

.animateWarningLong {
    -webkit-animation: animateLong 0.50s 0.50s alternate backwards;
    animation: animateLong 0.50s 0.50s alternate backwards ;
}

.sa-icon.sa-warning .sa-line {
    height: 8px;
    background-color: #fd8b20;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.sa-icon.sa-warning .sa-line.sa-tipWarning {
    width: 45px;
    left: 18px;
    top: 27px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
} 

.sa-icon.sa-warning .sa-line.sa-longWarning {
    width: 12px;
    right: 34px;
    top: 61px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* -------------------------------------------------------------------- */

/* ---------------------CONFIRMATION ANIMATION-------------- */


.sa-icon.sa-confirmation {
    border-color: #2078fd;
}

.sa-icon.sa-confirmation::before, .sa-icon.sa-confirmation::after {
    content: '';
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    position: absolute;
    width: 60px;
    height: 120px;
    background: white;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.sa-icon.sa-confirmation::before {
    -webkit-border-radius: 120px 0 0 120px;
    border-radius: 120px 0 0 120px;
    top: -7px;
    left: -33px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 60px 60px;
    transform-origin: 60px 60px;
}

.sa-icon.sa-confirmation::after {
    -webkit-border-radius: 0 120px 120px 0;
    border-radius: 0 120px 120px 0;
    top: -11px;
    left: 30px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0px 60px;
    transform-origin: 0px 60px;
} 

.sa-icon.sa-confirmation .sa-placeholderConfirmation {
    width: 80px;
    height: 80px;
    border: 4px solid rgba(68, 190, 255, 0.5);
    -webkit-border-radius: 40px;
    border-radius: 40px;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    left: -4px;
    top: -4px;
    z-index: 2;
}

.sa-icon.sa-confirmation .sa-fixConfirmation {
    width: 5px;
    height: 90px;
    background-color: white;
    position: absolute;
    left: 28px;
    top: 8px;
    z-index: 1;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.sa-icon.sa-confirmation.animate::after {
    -webkit-animation: rotatePlaceholder 4.25s ease-in;
    animation: rotatePlaceholder 4.25s ease-in;
}

.sa-icon.sa-confirmation {
    border-color: transparent\9;
}
.sa-icon.sa-confirmation .sa-line.sa-tipConfirmation {
    -ms-transform: rotate(45deg) \9;
}
.sa-icon.sa-confirmation .sa-line.sa-longConfirmation {
    -ms-transform: rotate(-45deg) \9;
} 

.sa-icon.sa-confirmation .sa-line-box.sa-circleConfirmation {
    -ms-transform: rotate(-45deg) \9;
} 

.animateConfirmationTip {
    -webkit-animation: animateTipConfirmation 0.40s 0.40s alternate backwards ;
    animation: animateTipConfirmation 0.40s 0.40s alternate backwards;
}

.animateConfirmationLong {
    -webkit-animation: animateLongConfirmation 0.50s 0.60s alternate backwards;
    animation: animateLongConfirmation 0.50s 0.60s alternate backwards ;
}

.animateConfirmationCircle {
    -webkit-animation: rotateCircle 0.45s ease-in;
    animation: rotateCircle 0.45s ease-in;
}

.sa-icon.sa-confirmation .sa-line {
    height: 8px;
    background-color: #2078fd;
    display: block;
    border-radius: 2px;
    position: absolute;
    z-index: 2;
}

.sa-icon.sa-confirmation .sa-line-box {
    left: 21px;
    top: 9px;
    width: 25px;
    height: 25px;
    border: solid 7px #2078fd;
    border-color: #2078fd #63373700 #2078fd #2078fd;
    border-radius: 100%/40px 40px 40px 40px;
    transform: rotateZ(150deg);
    display: block;
    position: absolute;
    z-index: 2;
}

.sa-icon.sa-confirmation .sa-line.sa-tipConfirmation {
    width: 14px;
    left: 33px;
    top: 45px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
} 

.sa-icon.sa-confirmation .sa-line.sa-longConfirmation {
    width: 10px;
    right: 35px;
    top: 61px;
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

/* -------------------------------------------------------------------- */

@-webkit-keyframes rotatePlaceholder {
    0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }
    5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }
    12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
    }
    100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
    }
}
@keyframes rotatePlaceholder {
    0% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }
    5% {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    }
    12% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
    }
    100% {
    transform: rotate(-405deg);
    -webkit-transform: rotate(-405deg);
    }
}

/* --------------------------------------- */


@-webkit-keyframes animateLong {
    0% {
        width: 0px;
        right: 10px;
        top: 20px;
    }
    100% {
        width: 60px;
        right: 10px;
        top: 38px;
    }
}
@-webkit-keyframes animateTip {
    0% {
        width: 0px;
        left: 20px;
        top: 20px;
    }
    100% {
        width: 60px;
        left: 10px;
        top: 38px;
    }
}
@keyframes animateTip {
    0% {
    width: 0px;
    left: 20px;
    top: 20px;
    }
    100% {
        width: 60px;
        left: 10px;
        top: 38px;
    }
}
@keyframes animateLong {
    0% {
        width: 0px;
        right: 10px;
        top: 20px;
    }
    100% {
        width: 60px;
        right: 10px;
        top: 38px;
    }
}

/* -------------------------------------------------------------------- */

@-webkit-keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    50% {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    } 
    /* 12% {
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
    }  */
    100% {
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
    }
}
@keyframes rotateCircle {
    0% {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
    }
    50% {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
    } 
    /* 12% {
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
    }  */
    100% {
        transform: rotate(120deg);
        -webkit-transform: rotate(120deg);
    }
}

/* --------------------------------------- */


@-webkit-keyframes animateLongConfirmation {
    0% {
        width: 0px;
        right: 40px;
        top: 61px;
    }
    50%{
        width: 8px;
        right: 36px;
        top: 61px;
    }
    100% {
        width: 10px;
        right: 35px;
        top: 61px;
    }
}
@-webkit-keyframes animateTipConfirmation {
    0% {
        width: 0px;
        left: 38px;
        top: 47px;
    }
    50%{
        width: 8px;
        left: 36px;
        top: 45px;
    }
    100% {
        width: 14px;
        left: 33px;
        top: 45px;
    }
}
@keyframes animateTipConfirmation {
    0% {
        width: 0px;
        left: 38px;
        top: 47px;
    }
    50%{
        width: 8px;
        left: 36px;
        top: 45px;
    }
    100% {
        width: 14px;
        left: 33px;
        top: 45px;
    }
}

@keyframes animateLongConfirmation {
    0% {
        width: 0px;
        right: 40px;
        top: 61px;
    }
    50%{
        width: 8px;
        right: 36px;
        top: 61px;
    }
    100% {
        width: 10px;
        right: 35px;
        top: 61px;
    }
}
